<div>  
  <!-- Logo -->
  <img src="assets/bankr-logo.png" alt="Logo" class="h-12" />

  <!-- Card do formulário -->
  <div
    class="w-full max-w-3xl p-8 space-y-5 text-center">
    
    <h1 class="text-3xl font-bold mb-1">Crie sua conta</h1>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="grid grid-cols-1 md:grid-cols-2 gap-4 text-left">

      <!-- Nome -->
      <div class="col-span-1">
        <label for="nomeCompleto" class="block text-sm font-medium mb-2">Nome completo</label>
        <input
          id="nomeCompleto"
          type="text"
          
          formControlName="nomeCompleto"
          class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-primaryfocus:border-transparent transition-all duration-200 bg-white"
          placeholder="Digite seu nome"
          [ngClass]="{
            'border-gray-300': !nomeCompleto?.touched || !nomeCompleto?.invalid,
            'border-red-500': nomeCompleto?.touched && nomeCompleto?.invalid
          }"
        />
        @if (nomeCompleto?.touched && nomeCompleto?.invalid) {
          <div class="mt-1 text-sm text-red-600">
              @if (nomeCompleto?.errors?.['required']) { <span>Nome é obrigatório</span> }
              @if (nomeCompleto?.errors?.['minlength']) { <span>O nome deve ter pelo menos 3 caracteres</span> }
          </div>
        }
      </div> 
      
      <!-- Telefone -->
      <div class="col-span-1">
        <label for="telefone" class="block text-sm font-medium mb-2">Telefone</label>
        <input
          id="telefone"
          type="text"
          mask="(00) 00000-0000"
          formControlName="telefone"
          class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-primaryfocus:border-transparent transition-all duration-200 bg-white"
          placeholder="Digite seu telefone"
          [class.border-gray-300]="!telefone?.touched || !telefone?.invalid"
          [class.border-red-500]="telefone?.touched && telefone?.invalid"
        />
        @if (telefone?.touched && telefone?.invalid) {
          <div class="mt-1 text-sm text-red-600">
              @if (telefone?.errors?.['required']) { <span>Telefone é obrigatório</span> }
          </div>    
        }
      </div>

      <!-- CPF -->
      <div class="col-span-1">
        <label for="cpf" class="block text-sm font-medium mb-2">CPF</label>
        <input
          id="cpf"
          type="text"
          mask="000.000.000-00"
          formControlName="cpf"
          class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-primaryfocus:border-transparent transition-all duration-200 bg-white"
          placeholder="Digite seu CPF"
          [class.border-gray-300]="!cpf?.touched || !cpf?.invalid"
          [class.border-red-500]="cpf?.touched && cpf?.invalid"
          
        />
        @if (cpf?.touched && cpf?.invalid) {
          <div class="mt-1 text-sm text-red-600">
              @if (cpf?.errors?.['required']) { <span>CPF é obrigatório</span> }
              @if (cpf?.errors?.['minlength'] || cpf?.errors?.['maxlength']) { <span>CPF deve ter 11 dígitos</span> }
              @else if (cpf?.errors?.['invalidCPF']) { <span>CPF inválido</span> }
          </div>
        }
      </div>

      <!-- Data de Nascimento -->
      <div class="col-span-1">
        <label for="dataNascimento" class="block text-sm font-medium mb-2">Data de Nascimento</label>
        <input
          id="dataNascimento"
          type="date"
         
          formControlName="dataNascimento"
          class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-primaryfocus:border-transparent transition-all duration-200 bg-white"
          placeholder=""
          [class.border-gray-300]="!dataNascimento?.touched || !dataNascimento?.invalid"
          [class.border-red-500]="dataNascimento?.touched && dataNascimento?.invalid"
        />
        @if (dataNascimento?.touched && dataNascimento?.invalid) {
          <div class="mt-1 text-sm text-red-600">
              @if (dataNascimento?.errors?.['required']) { <span>Data de nascimento é obrigatório</span> }
              @if (dataNascimento?.errors?.['underage']) { <span>Você deve ter pelo menos 18 anos</span> }
          </div>    
        }
      </div>

      <!-- Email -->
      <div class="col-span-1">
        <label for="email" class="block text-sm font-medium mb-2">E-mail</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-primaryfocus:border-transparent transition-all duration-200 bg-white"
          placeholder="Digite seu e-mail"
          [class.border-gray-300]="!email?.touched || !email?.invalid"
          [class.border-red-500]="email?.touched && email?.invalid"
        />
        @if (email?.touched && email?.invalid) {
          <div class="mt-1 text-sm text-red-600">
              @if (email?.errors?.['required']) { <span>Email é obrigatório</span> }
              @if (email?.errors?.['email']) { <span>Email inválido</span> }
          </div>    
        }
      </div>

      <!-- Senha -->
      <div class="col-span-1">
        <label for="senha" class="block text-sm font-medium mb-2">Senha</label>
        <input
          id="senha"
          type="password"
          formControlName="senha"
          class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-primary focus:border-transparent transition-all duration-200 bg-white"
          placeholder="Digite sua senha"
          [class.border-gray-300]="!senha?.touched || !senha?.invalid"
          [class.border-red-500]="senha?.touched && senha?.invalid"
        />
        @if (senha?.touched && senha?.invalid) {
          <div class="mt-1 text-sm text-red-600">
            @if (senha?.errors?.['required']) { <span>Senha é obrigatória</span> }
            @if (senha?.errors?.['weakPassword']) { <span>Senha deve ter no mínimo 8 caracteres, 1 maiúscula, 1 número e 1 caractere especial</span> }
          </div>
        }
      </div>

      <!-- CEP -->
        <div class="col-span-2 sm:col-span-1">
          <label for="cep" class="block text-sm font-medium mb-2">CEP</label>
          <input
            id="cep"
            type="text"
            mask="00000-000"
            formControlName="cep"
            class="w-full px-4 py-3 border rounded-lg focus:ring-2 focus:ring-primary focus:border-transparent transition-all duration-200 bg-white"
            placeholder="Digite o CEP"
            (blur)="buscarCEP()"
            [class.border-gray-300]="!cep?.touched || !cep?.invalid"
            [class.border-red-500]="cep?.touched && cep?.invalid"
          />
          @if (cep?.touched && cep?.invalid) {
            <div class="mt-1 text-sm text-red-600">
              @if (cep?.errors?.['required']) { <span>CEP é obrigatório</span> }
              @if (cep?.errors?.['pattern']) { <span>CEP inválido</span> }
            </div>
          }
        </div>

      <!-- Endereço -->
      <div class="col-span-2 grid grid-cols-3 gap-4">

        <!-- Logradouro -->
        <div class="col-span-2">
          <label for="logradouro" class="block text-sm font-medium mb-2">Logradouro</label>
          <input
            id="logradouro"
            type="text"
            formControlName="logradouro"
            class="w-full px-4 py-3 border rounded-lg bg-gray-50 cursor-not-allowed"
            readonly
          />
        </div>

        <!-- Bairro -->
        <div class="col-span-2 sm:col-span-1">
          <label for="bairro" class="block text-sm font-medium mb-2">Bairro</label>
          <input
            id="bairro"
            type="text"
            formControlName="bairro"
            class="w-full px-4 py-3 border rounded-lg bg-gray-50 cursor-not-allowed"
            readonly
          />
        </div>

        <!-- Cidade -->
        <div class="col-span-2 sm:col-span-1">
          <label for="localidade" class="block text-sm font-medium mb-2">Cidade</label>
          <input
            id="localidade"
            type="text"
            formControlName="localidade"
            class="w-full px-4 py-3 border rounded-lg bg-gray-50 cursor-not-allowed"
            readonly
          />
        </div>

        <!-- UF -->
        <div class="col-span-1 sm:col-span-1">
          <label for="uf" class="block text-sm font-medium mb-2">UF</label>
          <input
            id="uf"
            type="text"
            formControlName="uf"
            maxlength="2"
            class="w-15 px-4 py-3 border rounded-lg bg-gray-50 cursor-not-allowed text-center"
            readonly
          />
        </div>
      </div>

      <!-- Consentimento -->
      <div class="col-span-2 flex items-start gap-2 text-sm">
        <input
        type="checkbox"
        id="consentimento"
        formControlName="consentimento"
        class="w-4 h-4 rounded border-white/20 bg-background focus:ring-gradient-start"> 
        <label for="consentimento"> Autorizo o Bankr a tratar meus dados pessoais para envio de comunicações sobre seus produtos e serviços e também estou de acordo com a <a class="text-gradient-start hover:underline cursor-pointer">Política de Privacidade.</a></label>
      </div>
      

      <!-- Botão -->
      <button
        type="submit"
        class="mt-4 flex items-center justify-center gap-2 px-4 py-2 rounded-xl font-medium 
              text-text bg-gradient-to-r from-gradient-start to-gradient-end 
              shadow-sm enabled:hover:scale-105 transition-transform disabled:opacity-50 col-span-2"
              [disabled]="!consentimento?.value">
        {{ isSubmiting ? 'Criando conta...' : 'Criar conta' }}
      </button>

    </form>

    <!-- Link para login -->
    <p class="col-span-2 text-center mt-4">
      Já tem uma conta?
      <a (click)="navigateToLogin()" class="text-gradient-start hover:underline cursor-pointer">
        Entrar
      </a>
    </p>
  </div>
</div>
